/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--scroll-bg-light);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--scroll-bg-dark);
  -webkit-box-shadow: inset 0 0 6px var(--scroll-bg-light);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: var(--scroll-bg-dark);
}
.login-body-bg {
  background-image: url(../images/login-bg.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.card-new {
  float: left;
  width: 100%;
  height: auto;
  border: 2px solid #fff;
  padding: 30px 50px;
  box-shadow: 0px 0px 50px 0px #fff;
  background-color: rgb(255 255 255 / 50%);
  border-radius: 2px 30px 2px 30px;
}
svg.default-color{
  color:#1B5BAC;
}
svg.purple-color{
    color:#4A1964;
}
  svg.text-black{
    color:#2a2a2a !important;
    }
  svg.text-red{
  color:#dc3545;
  }
  svg.text-pink{
  color: #d63384;
  }
  svg.text-yellow{
  color:#ffc107 !important;
  }
  svg.text-bluegreen{
  color:#37e7b6;
  }
  svg.text-navyblue{
  color:#0d6efd;
  }
/* .top-warper .top-header-bg{
    background-color: #50b6bb;
} */
.top-header-bg{
    background: var(--top-header-bg-light);
    background: -moz-linear-gradient(-45deg, var(--top-header-bg-light) 0%, var(--top-header-bg-light) 70%, var(--top-header-bg-dark) 70%, var(--top-header-bg-dark) 100%);
    background: -webkit-linear-gradient(-45deg, var(--top-header-bg-light) 0%,var(--top-header-bg-light) 70%,var(--top-header-bg-dark) 70%,var(--top-header-bg-dark) 100%);
    background: linear-gradient(135deg, var(--top-header-bg-light) 0%,var(--top-header-bg-light) 70%,var(--top-header-bg-dark) 70%,var(--top-header-bg-dark) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--top-header-bg-light)', endColorstr='var(--top-header-bg-dark)',GradientType=1 );
}
nav.top-header ul li a{
    color: var(--top-header-text-color);
} 
nav.top-header ul li a:hover{
    color: var(--top-header-text-color-hover);
    text-decoration: underline;
} 
.logo-header{
    background: var(--top-header-bg-light);
    background: -moz-linear-gradient(-45deg, var(--top-header-bg-light) 0%, var(--top-header-bg-light) 25%, var(--top-header-bg-dark) 25%, var(--top-header-bg-dark) 100%);
    background: -webkit-linear-gradient(-45deg, var(--top-header-bg-light) 0%,var(--top-header-bg-light) 25%,var(--top-header-bg-dark) 25%,var(--top-header-bg-dark) 100%);
    background: linear-gradient(135deg, var(--top-header-bg-light) 0%,var(--top-header-bg-light) 25%,var(--top-header-bg-dark) 25%,var(--top-header-bg-dark) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--top-header-bg-light)', endColorstr='var(--top-header-bg-dark)',GradientType=1 );
}
.user-details {
  float: left;
  width: 220px;
  height: 100%;
  padding: 15px;
}
.user-details div {
  width: 65px;
  height: auto;
  padding: 2px;
  border: 2px solid var(--top-header-text-color);
  border-radius: 6px;
  box-shadow: 0px 0px 6px 0px var(--top-header-text-color);
  margin-bottom: 10px !important;
  margin: auto;
}
.p-color{
  color: var(--top-header-text-color-hover);
  font-weight: 500;
}
@media (max-width:575px){
    .top-header .navbar-nav {
        flex-direction: row;
    }
    .top-header .navbar-nav li a {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

/* TOP MENU CSS START  */
.shd{
    box-shadow: 0px 4px 4px -1px #a7a3a3;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .dropdown-menu.show {
    -webkit-animation: fadeIn 0.3s alternate;
    animation: fadeIn 0.3s alternate;
  }
  
  .nav-item.dropdown.dropdown-mega {
    position: static;
  }
  .nav-item.dropdown.dropdown-mega .dropdown-menu {
    width: 90%;
    top: auto;
    left: 5%;
  }
  
  .navbar-toggler {
    border: none;
    padding: 0;
    outline: none;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .navbar-toggler .hamburger-toggle {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    z-index: 11;
    float: right;
  }
  .navbar-toggler .hamburger-toggle .hamburger {
    position: absolute;
    transform: translate(-50%, -50%) rotate(0deg);
    left: 50%;
    top: 50%;
    width: 50%;
    height: 50%;
    pointer-events: none;
  }
  .navbar-toggler .hamburger-toggle .hamburger span {
    width: 100%;
    height: 4px;
    position: absolute;
    background: #fbfbfb;
    border-radius: 2px;
    z-index: 1;
    transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), all 0.2s ease-in-out;
    left: 0px;
  }
  .navbar-toggler .hamburger-toggle .hamburger span:first-child {
    top: 10%;
    transform-origin: 50% 50%;
    transform: translate(0% -50%) !important;
  }
  .navbar-toggler .hamburger-toggle .hamburger span:nth-child(2) {
    top: 50%;
    transform: translate(0, -50%);
  }
  .navbar-toggler .hamburger-toggle .hamburger span:last-child {
    left: 0px;
    top: auto;
    bottom: 10%;
    transform-origin: 50% 50%;
  }
  .navbar-toggler .hamburger-toggle .hamburger.active span {
    position: absolute;
    margin: 0;
  }
  .navbar-toggler .hamburger-toggle .hamburger.active span:first-child {
    top: 45%;
    transform: rotate(45deg);
  }
  .navbar-toggler .hamburger-toggle .hamburger.active span:nth-child(2) {
    left: 50%;
    width: 0px;
  }
  .navbar-toggler .hamburger-toggle .hamburger.active span:last-child {
    top: 45%;
    transform: rotate(-45deg);
  }
  
  .icons {
    display: inline-flex;
    margin-left: auto;
  }
  .icons a {
    transition: all 0.2s ease-in-out;
    padding: 0.2rem 0.4rem;
    color: #ccc !important;
    text-decoration: none;
  }
  .icons a:hover {
    color: white;
    text-shadow: 0 0 30px white;
  }
  a.navbar-brand.py-0 {
    width: 250px;
    /* box-shadow: 4px 0px 4px -4px #545454; */
}
.nav-link {
  color: var(--top-header-text-color);
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
  color: var(--top-header-text-color);
  background-color: rgba(0,0,0,0.1);
}
.nav-link:focus, .nav-link:hover {
  color: var(--top-header-text-color-hover);
}
.navbar-collapse.collapse.show{
  border-top: 1px solid rgb(255, 255, 255);
    margin-top: 12px;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 250px;
    max-height: 350px;
}
body.tp.top-warper .sm-toggle{
  display: none;
}
@media (max-width:330px){
  a.navbar-brand.py-0 {
    width: 100%;
    text-align: center;
}
}
/* TOP MENU CSS END  */
/* SIDE & CONTENT CSS START  */
.body-warper {
  display: flex;
  flex-wrap: nowrap;
}
.sidebar-warper {
  width: 60px;
  transition: margin-left .3s ease-in-out,width .3s ease-in-out;
  position: absolute;
  z-index: 1051;
  /* height: calc(100vh - 100px);
  overflow-y: auto;
  overflow-x: hidden; */
}
nav.side-m {
  height: calc(100vh - 92px);
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}
.user-info {
  border-bottom: 1px solid rgba(255,255,255, 0.5);
  float: left;
  width: 100%;
  background-color: rgb(78 106 110 / 20%);
  height:42px;
}
.content-warper {
  width: 100%;
  transition: margin-left .3s ease-in-out,width .3s ease-in-out;
  padding-left: 60px;
}
.sidebar-warper-lg {
  width: 260px;
  transition: margin-left .3s ease-in-out,width .3s ease-in-out;
  
}
.content-warper-lg {
  width: 100%;
  transition: margin-left .3s ease-in-out,width .3s ease-in-out;
  padding-left: 260px;
}
.sidebar-warper-hover{
  width: 260px;
  transition: margin-left .3s ease-in-out,width .3s ease-in-out;
}
body.ss.side-warper .sidebar-warper{
display: block;
}
body.tp.top-warper .sidebar-warper{
  display: none;
}
body.tp.top-warper .content-warper{
  padding-left: 0px;
}
.user-info a.arrows-right span:after {
  content: "\f054";
  font-family: 'FontAwesome';
  font-weight: 900; 
  /* float: right; */
  padding-right: 0px;
  color: var(--top-header-text-color);
  }
  .user-info a.arrows-left span:after {
  content: "\f053" !important;
  font-family: 'FontAwesome';
  font-weight: 900;
  /* float: right; */
  padding-right: 0px;
  }
  .user-info a {
    height: 25px;
    border-radius: 50px;
    width: 25px;
    background: #6f42c1;
    text-align: center;
    line-height: 25px;
    position: relative;
    right: -19px;
    text-decoration: none;
    top: -24px;
}
body.side-warper nav.side-m ul.navbar-nav {
  flex-direction: column;
  width: 100%;
}
body.side-warper .sidebar-warper nav.side-m ul.navbar-nav li a span{
  display: none;
}
body.side-warper .sidebar-warper-lg nav.side-m ul.navbar-nav li a span, 
body.side-warper .sidebar-warper-hover nav.side-m ul.navbar-nav li a span{
  display: block;
}
body.side-warper .sidebar-warper nav.side-m ul.navbar-nav li a svg{
  padding: 0px 10px 0px 18px;
  float: left;
  font-size: 20px;
}
body.side-warper .sidebar-warper nav.side-m ul.navbar-nav li a span{
  float: left;
  position: relative;
  top: -2px;
  width: 190px;
}
body.side-warper .sidebar-warper nav.side-m ul.dropdown-menu li a svg{
  padding: 0px 10px 0px 18px;
  float: left;
  font-size: 16px !important;
  position: relative;
  top: 3px;
}
body.side-warper .sidebar-warper nav.side-m ul.navbar-nav li.dropend a span{
  float: left;
  position: relative;
  top: -2px;
  width: 190px;
}
body.side-warper .sidebar-warper nav.side-m ul.dropdown-menu li a.dropdown-item{
  padding: 5px 3px;
}
body.side-warper .sidebar-warper nav.side-m ul.navbar-nav li a.dropdown-toggle::after {
  display: none;
}
body.side-warper .sidebar-warper-lg nav.side-m ul.navbar-nav li a.dropdown-toggle::after,
body.side-warper .sidebar-warper-hover nav.side-m ul.navbar-nav li a.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  /* float: right;
  margin-top: 9px;
  margin-right: 10px; */
}
body.side-warper .sidebar-warper nav.side-m ul.navbar-nav li.dropdown ul.dropdown-menu.show{
  display: none;
}
body.side-warper .sidebar-warper-lg nav.side-m ul.navbar-nav li.dropdown ul.dropdown-menu.show,
body.side-warper .sidebar-warper-hover nav.side-m ul.navbar-nav li.dropdown ul.dropdown-menu.show {
  position: static !important;
  transform: translate(0px, 0px) !important;
  border: 0px;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.075) !important;
  display: block;
}
.sh-lg{
  display: none;
}
body.side-warper .sidebar-warper-hover .sh-lg,
body.side-warper .sidebar-warper-lg .sh-lg{
  display: block;
}
body.side-warper .sidebar-warper-hover .sh-sm,
body.side-warper .sidebar-warper-lg .sh-sm{
  display: none;
}
body.side-warper .sidebar-warper nav.side-m ul.navbar-nav li.nav-item{
  border-bottom: 1px solid rgba(0,0,0,0.3);
  padding: 2px 0px 10px 0px;
}
body.side-warper .sidebar-warper-lg nav.side-m ul.navbar-nav li.nav-item.dropdown,
body.side-warper .sidebar-warper-hover nav.side-m ul.navbar-nav li.nav-item.dropdown{
  border-bottom: 1px solid rgba(0,0,0,0.3);
  padding: 4px 0px 0px 0px;
}
/* body.side-warper .sidebar-warper nav.side-m ul.navbar-nav li.nav-item a:hover{
  background-color: var(--top-header-bg-light);
  float: left;
  width: 100%;
} */
.sm-toggle{
  display: none;
}
.logo-header-fixed {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1052;
}
/* .logo-header nav a.navbar-brand{
  position: relative;
  top: -20px;
  transition: margin-left .3s ease-in-out,width .3s ease-in-out;
}
.logo-header-fixed nav a.navbar-brand{
  position: relative;
  top: 0px;
  transition: margin-left .3s ease-in-out,width .3s ease-in-out;
} */
.sidebar-warper-fixed {
  position: fixed;
  top: 50px;
  height: calc(100vh - 50px);
}
body.side-warper .sidebar-warper nav.side-m ul.navbar-nav li a.nav-link svg {
  color: var(--sidebar-nav-icon-color);
}
body.side-warper .sidebar-warper nav.side-m ul.navbar-nav li a.dropdown-item svg {
  color: var(--sidebar-nav-icon-color);
}
body.side-warper .sidebar-warper nav.side-m ul.navbar-nav li a.nav-link {
  color: var(--text-color-prim-2);
}
/* body.side-warper .sidebar-warper nav.side-m ul.navbar-nav li a.nav-link {
  color: var(--top-header-text-color);
  background-color: rgba(0,0,0,0.1);
} */
@media(max-width:991px){
  .sm-toggle{
    display: block;
  }
  body.ss.side-warper .sidebar-warper{
    display: none;
  }
  .content-warper {
    padding-left: 0px;
}
.user-info a {
  display: none;
}
}
/* SIDE & CONTENT CSS END  */
.spinner-grow {
  --bs-spinner-width: 1rem;
  --bs-spinner-height: 1rem;
  --bs-spinner-vertical-align: -0.125em;
  --bs-spinner-animation-speed: 1.5s;
  --bs-spinner-animation-name: spinner-grow;
  background-color: transparent;
  opacity: 0;
}
.page-header {
  float: left;
  width: 100%;
  height: auto;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  padding: 6px 12px;
  border-bottom: 2px solid #a955e9;
  border-radius: 4px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
}
.page-header img{
  height: 25px;
  padding-right: 10px;
}
/* ===========================TILES CSS START===========================  */
/* .titles-bg{
  background:url(../images/header-bg-3.jpg);
} */
.tiles{
  width: 100%;
  padding: 0px;
}
.small-box {
  border-radius: 0.25rem;
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
  display: block;
  margin-bottom: 20px;
  position: relative;
}
.small-box>.inner {
  padding: 10px;
}
.small-box .icon {
  color: rgba(0,0,0,.15);
  z-index: 0;
}
.small-box p {
  font-size: 1rem;
  color: #fff;
}
.small-box h3{
  font-size: 2.2rem;
}
.inner h3{
  color: #ffffff !important;
}
.small-box>.small-box-footer {
  background-color: rgba(0,0,0,.1);
  color: rgba(255,255,255,.8);
  display: block;
  padding: 3px 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 10;
}
.small-box .icon>svg.ion {
  font-size: 70px;
  top: 20px;
}
.small-box .icon>svg {
  font-size: 90px;
  position: absolute;
  right: 15px;
  top: 15px;
  transition-duration: 0.3s;
}
.small-box:hover .icon>svg {
  font-size: 80px;
  position: absolute;
  right: 15px;
  top: 15px;
  transition-duration: 0.3s;
}
.bg-bob {
  background-image: url('../images/circle.svg');
  background-size: cover;
}
.block-ellipsis {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 34px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bg-gradient-success {
  background: linear-gradient(to right, #a955e9, #6f42c1) !important;
  color: #fff;
}
.bg-gradient-warning {
  background: linear-gradient(to right, #ffd22f, #f7da72) !important;
  color: #fff;
}
.bg-gradient-dark {
  background: linear-gradient(to right, #3c3418, #645a35) !important;
  color: #fff;
}
.bg-gradient-danger {
  background: linear-gradient(to right, #e74c3c, #ff9a90) !important;
  color: #fff;
}
.bg-gradient-info {
  background: linear-gradient(to right, #17a2b8, #29d7f3) !important;
  color: #fff;
}
.bg-gradient-purple {
  background: linear-gradient(to right, #6f42c1, #9d6cf7) !important;
  color: #fff;
}
/* ===========================TILES CSS END===========================  */
/* With Data Table  */
.table-container-data {
  position: relative;
  max-height:  300px;
  width: 100%;
  overflow: auto;
}

.table-container-data table thead tr th {
  position: -webkit-sticky;
  position: sticky !important;
  top: 0;
  z-index: 2;
  background: var(--scroll-bg-light);
  color: #fff;
}

.table-container-data table thead tr th:nth-child(1) {
  left: 0;
  z-index: 3;
  background-color: var(--scroll-bg-light);
}  
.table-container-data table thead tr th:nth-child(2) {
  left: 45px;
  z-index: 3;
  background-color: var(--scroll-bg-light);
}
.table-container-data table tbody {
  overflow: auto;
  height: auto;
}

/* MAKE LEFT COLUMN FIXEZ */
.table-container-data table tbody tr > :nth-child(1) {
  position: -webkit-sticky;
  position: sticky; 
  background: #eee;
  left: 0; 
}
.table-container-data table tbody tr > :nth-child(2) {
  position: -webkit-sticky;
  position: sticky; 
  background: #eee;
  left: 45px; 
}

.form-floating .bootstrap-select .dropdown-toggle .filter-option {
  position: static;
  top: 0;
  left: 0;
  float: left;
  height: 40px;
  width: 100%;
  text-align: left;
  overflow: hidden;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  line-height: 60px;
}
.form-floating .bootstrap-select button{
  position: absolute !important;
  top: 0px;
  height: 60px;
  background-color: #fff !important;
  border: 1px solid #ced4da;
}