:root{
--scroll-bg-light:#a955e9;
--scroll-bg-dark:#6f42c1;
--top-header-bg-light:#a955e9;
--top-header-bg-dark:#6f42c1;
--top-header-text-color:#e3cbf5;
--top-header-text-color-hover:#e3cbf5;
--top-header-icon-color:#6f42c1;
--top-header-icon-color-hover:#a955e9;
--sidebar-nav-bg-1:#f8f9fa;
--sidebar-nav-bg-2:#f1f2f3;
--sidebar-nav-text-color:#6f42c1;
--sidebar-nav-text-color-hover:#a955e9;
--sidebar-nav-icon-color:#6f42c1;
--sidebar-nav-icon-color-hover:#a955e9;
--text-color-prim-1:#6f42c1;
--text-color-prim-2:#3f3f3f;
--text-color-prim-3:#fbfbfb;
--bg-color-prim-1:#6f42c1;
--bg-color-prim-2:#3f3f3f;
--bg-color-prim-3:#fbfbfb;
--tab-light:#bed9fb;
--tab-dark:#98c2f7;
}